---
import "../../styles/main.scss";

import AppShell from "../../layouts/AppShell.astro";

import Header from "../../sections/Header.astro";
import SliderComprensori from "../../sections/SliderComprensori.astro";
import LoghiBottom from "../../sections/LoghiBottom.astro";
import TariffeGrid from "../../sections/TariffeGrid.astro";
import IntroCose from "../../sections/IntroCose.astro";
import ComeUsufruire from "../../sections/ComeUsufruire.astro";
import Footer from "../../sections/Footer.astro";
import Enonetutto from "../../sections/Enonetutto.astro";
import MosaicoComprensori from "../../sections/MosaicoComprensori.astro";
---

<style>
	.comprensori-mobile {
		display: block;
	}

	.comprensori-desktop {
		display: none;
	}

	@media (min-width: 750px) {
		.comprensori-mobile {
			display: none;
		}

		.comprensori-desktop {
			display: block;
		}
	}
</style>

<AppShell lang="fr">

	<Header lang="fr" />

	<IntroCose lang="fr" />

	<!-- Mobile: Slider -->
	<div class="comprensori-mobile">
		<SliderComprensori lang="fr" />
	</div>

	<!-- Desktop: Mosaico -->
	<div class="comprensori-desktop">
		<MosaicoComprensori lang="fr" />
	</div>

	<Enonetutto lang="fr" />

	<ComeUsufruire lang="fr" />

	<TariffeGrid lang="fr" />

	<LoghiBottom lang="fr" />

	<Footer lang="fr" />

</AppShell>
