@import "../../node_modules/the-new-css-reset/css/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap");

:root {
	--text-grey: #8a97a8;
	--azzurro: #55c2e4;

	--margin-large: 80px;
	--margin-standard: 50px;
	--margin-small: 20px;
	--margin-smallest: 10px;

	@media (min-width: 750px) {
		--margin-large: 150px;
	}
}

html {
	/* 1rem = 10px */
	font-size: 62.5%;
}

body {
	color: var(--text-grey);
	font-size: 2rem;
	font-family: "Alegreya Sans", sans-serif;

	text-align: center;
}

h1 {
	font-size: 5.4rem;
	font-weight: bold;
	color: var(--azzurro);
	margin-bottom: var(--margin-standard);
}

h2 {
	font-size: 3.4rem;
	font-weight: bold;
}

small {
	font-size: 1.6rem;
}

button {
	background-color: var(--azzurro);
	color: white;
	border: 0;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 0.6rem;
	font-weight: bold;

	&.btn--secondary {
		background-color: transparent;
		border: 2px solid white;
	}
}

p {
	margin-top: var(--margin-standard);
	margin-bottom: var(--margin-standard);

	small {
		display: block;
		margin: var(--margin-small) 0;
	}
}

b {
	font-weight: bold;
}

header {
	padding-top: var(--margin-standard);
	padding-bottom: var(--margin-standard);

	color: white;

	text-align: center;

	background-image: url(../images/bg-header-mobile@1x.webp);
	background-size: 100% auto;
	background-position: bottom;

	height: 90vh;

	display: flex;
	align-items: flex-end;

	// .content {
	// 	position: absolute;
	// 	z-index: 2;
	// }

	// .gradient-overlay {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	z-index: 1;
	// 	height: 90vh;
	// 	width: 100%;
	// 	background: rgb(17, 31, 54);
	// 	background: linear-gradient(0deg, rgba(17, 31, 54, 0.7721682422969187) 30%, rgba(121, 197, 158, 0) 100%);
	// }

	.logo {
		max-width: 15rem;
		height: auto;
		aspect-ratio: 13 / 6;
		display: block;
		margin: 0 auto;
	}

	button,
	small,
	strong {
		display: inline-block;
	}

	strong {
		font-family: "ramen-ichikaru";
	}

	button {
		margin-top: var(--margin-small);
		margin-bottom: var(--margin-small);
		width: 220px;
	}
}

section {
	margin-top: var(--margin-large);
	margin-bottom: var(--margin-large);

	.content {
		padding-left: 2rem;
		padding-right: 2rem;

		max-width: 1300px;
		margin-left: auto;
		margin-right: auto;

		overflow: hidden;
	}
}

.content > .mappa-piccoli-comprensori {
	display: block;
}

.content > .title-copy-cta {
	margin-bottom: var(--margin-large);
	&:last-child {
		margin-bottom: 0;
	}
}

.title-copy-cta {
}

.come-usufruire {
	margin: 0;
	padding-top: var(--margin-large);
	padding-bottom: var(--margin-large);
	background-color: #ececec;
	background-image: url(../images/come-usufruire@1x.webp);
	background-size: cover;
	background-position: center bottom;

	h1,
	h2 {
		color: white;
	}

	li {
		color: white;
		max-width: 28rem;
		margin: 0 auto;

		> img {
			margin-bottom: var(--margin-small);
		}

		h2 {
			margin-bottom: var(--margin-smallest);
			line-height: 1;
		}

		p {
			margin-top: 0;
		}
	}
}

.tariffe-grid {
	margin-bottom: var(--margin-large);

	@media (min-width: 750px) {
		text-align: left;

		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: var(--margin-standard);
		justify-items: center;
		align-items: center;

		img {
			grid-column: 1;
			grid-row: 1;
		}
		.title-copy-cta {
			grid-column: 2;
		}
	}
}

.mappa-piccoli-comprensori {
	width: 95%;
	max-width: 100rem;
	margin: 0 auto;
	height: auto;
	max-inline-size: none;
	max-block-size: none;
}

footer {
	height: 40rem;
}
