@import "../../node_modules/the-new-css-reset/css/reset.css";

@import "./typography.scss";
@import "./structure.scss";
@import "./buttons.scss";
@import "./slider.scss";
@import "./policy.scss";

:root {
	--text-grey: #8a97a8;
	--azzurro: #55c2e4;

	--margin-large: 100px;
	--margin-standard: 50px;
	--margin-small: 20px;
	--margin-smallest: 10px;

	@media (min-width: 750px) {
		--margin-large: 150px;
	}
}

body {
	color: var(--text-grey);
	font-size: 2rem;
	font-family: "Oxygen";
	text-align: center;
}

h1 {
	font-size: 5.4rem;
	font-weight: bold;
	color: var(--azzurro);
	margin-bottom: var(--margin-standard);
}

h2 {
	font-size: 3.4rem;
	font-weight: bold;
}

small {
	font-size: 1.6rem;
}

button {
	background-color: var(--azzurro);
	color: white;
	border: 0;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 0.6rem;
	font-weight: bold;

	&.btn--secondary {
		background-color: transparent;
		border: 2px solid white;
	}
}

p {
	margin-top: var(--margin-standard);
	margin-bottom: var(--margin-standard);

	small {
		display: block;
		margin: var(--margin-small) 0;
	}
}

b {
	font-weight: bold;
}

section {
	margin-top: var(--margin-large);
	margin-bottom: var(--margin-large);

	.content {
		padding-left: 2rem;
		padding-right: 2rem;

		max-width: 1300px;
		margin-left: auto;
		margin-right: auto;

		overflow: hidden;
	}
}

.content > .mappa-piccoli-comprensori {
	display: block;
}

.content > .title-copy-cta {
	margin-bottom: var(--margin-large);
	&:last-child {
		margin-bottom: 0;
	}
}

.title-copy-cta {
}

.tariffe-grid {
	margin-bottom: var(--margin-large);

	@media (min-width: 750px) {
		text-align: left;

		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: var(--margin-standard);
		justify-items: center;
		align-items: center;

		img {
			grid-column: 1;
			grid-row: 1;
		}
		.title-copy-cta {
			grid-column: 2;
		}
	}
}

.mappa-piccoli-comprensori {
	width: 95%;
	max-width: 100rem;
	margin: 0 auto;
	height: auto;
	max-inline-size: none;
	max-block-size: none;
}

.desktop-only {
	display: none;
}

.esempi {
	margin-top: calc(var(--margin-small) * -1);
}

.esempi ul {
	list-style-type: decimal;
	margin-top: var(--margin-smallest);
	margin-bottom: var(--margin-small);
}

.esempi li {
	margin-bottom: var(--margin-small);
	text-align: left;
	margin-left: var(--margin-small);
}

@media (min-width: 750px) {
	.mobile-only {
		display: none;
	}
	.desktop-only {
		display: block;
	}
}
