---
import "../../styles/main.scss";

import AppShell from "../../layouts/AppShell.astro";
import Footer from "../../sections/Footer.astro";
---

<AppShell lang="en">
	<section>
		<div class="content content--policy">
			<h1>Cookie policy</h1>
			<script id="CookieDeclaration" data-culture="en" src="https://consent.cookiebot.com/aa3ffdbc-2686-4f4e-a1b2-cdefa099c7b9/cd.js" type="text/javascript" async></script>
		</div>
	</section>
	<Footer lang="en" />
</AppShell>
