---
import "../../node_modules/the-new-css-reset/css/reset.css";
const { lang } = Astro.props;

import favicon from "../images/favicon.svg";

import { loadTranslations } from "../utils/loadTranslations";
const translations = loadTranslations(lang);
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{translations.page_title}</title>

		<meta name="description" content="Magic Skipass è la promozione ideata per incentivare la scoperta di itinerari fuori dal comune dove poter vivere la propria passione per la neve, provare a sciare e assaporare le tradizioni più vere e radicate, contrastando il caro vita." />
		<meta name="google-site-verification" content="OfJmWG7hGmO0OGqfVR-4gILKZQERd-ew5d8at8oVvWc" />

		<meta property="og:url" content="https://magic-pass.skilife.ski/" />
		<meta property="og:site_name" content="magic-pass.skilife.ski" />
		<meta property="og:title" content="Scopri l'autentica magia della Valle d'Aosta" />
		<meta property="og:description" content="Magic Skipass è la promozione ideata per incentivare la scoperta di itinerari fuori dal comune dove poter vivere la propria passione per la neve, provare a sciare e assaporare le tradizioni più vere e radicate, contrastando il caro vita." />
		<meta property="og:locale" content="it_IT" />
		<meta property="og:image" content="/og-header.jpg" />
		<meta property="og:type" content="website" />

		<link rel="icon" type="image/svg+xml" href={favicon.src} />

		<script type="text/javascript">
			(function () {
				window.usermaven =
					window.usermaven ||
					function () {
						(window.usermavenQ = window.usermavenQ || []).push(arguments);
					};
				var t = document.createElement("script"),
					s = document.getElementsByTagName("script")[0];
				t.defer = true;
				t.id = "um-tracker";
				t.setAttribute("data-tracking-host", "https://events.usermaven.com");
				t.setAttribute("data-key", "UM2zrkUJwI");
				t.setAttribute("data-autocapture", "true");
				t.setAttribute("data-privacy-policy", "strict");
				t.src = "https://t.usermaven.com/lib.js";
				s.parentNode.insertBefore(t, s);
			})();
		</script>

		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-KX3PPB8T");
		</script>

		<script define:vars={{ lang }}>
			window.dataLayer = window.dataLayer || [];
			window.dataLayer.push({
				current_lang: lang
			});
		</script>
	</head>

	<body>
		<slot lang={lang} />
	</body>
</html>
